.card-body {
  font-family: "Poppins", sans-serif;
}
.cities {
  font-weight: bold;
}
.current-icon {
  font-size: 100px;
  color: orange;
}
.sun-small {
  font-size: 50px;
  color: orange;
}
.temperature {
  font-size: 75px;
  position: relative;
  left: -20px;
}

.temp-sign,
.temp-active {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  top: -35px;
  left: -20px;
}

#description {
  text-align: right;
}

.next {
  text-align: left;
  font-weight: 900;
}
.cloud-small {
  font-size: 50px;
  color: grey;
}
.rain-small {
  font-size: 50px;
}
.snow-small {
  font-size: 50px;
  color: #00a3d2;
}
.author-code {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 350px;
}
.temp-active {
  color: black;
  cursor: default;
}
.temp-active:hover {
  text-decoration: none;
}
.temp-sign:hover {
  text-decoration: none;
}
